ca_leg/etl_data
ca_leg/legislation_data
ca_leg/etl/*.xml
pdf_parsing/*.pdf
pdf_parsing/*.csv
.DS_Store
docker-compose.yml
calaccess/*.csv
pdf_parsing/Untitled-1.ipynb
FinalHistoryPDFs
ca_leg/.python-version
ca_leg/.legislation_data
bill_motions_sample.csv
eda1.qmd
Icon
district_demographics
embeddings_w_oop.ipynb
digest_text.json
digests.pt