ca_leg/etl_data/batch*
ca_leg/etl_data/LOB
ca_leg/etl_data/temp
ca_leg/legislation_data
ca_leg/etl/*.xml
.DS_Store
calaccess
pdf_parsing/*.csv
pdf_parsing/*.pdf
FinalHistoryPDFs
ca_leg/.python-version
ca_leg/.legislation_data
bill_motions_sample.csv
eda1.qmd
Icon
district_demographics
embeddings_w_oop.ipynb
digest_text.json
digests.pt
gnn_clean.pt
gnn_data.pt
graph-construction.py
input_dims.pkl
meta.pkl
node_embeddings.pt
node_embeddings_2.pt
*.pt
clever.ipynb
node_id_map.json
torch-1.ipynb
clever.ipynb
GNN/__pycache__
__pycache__
dashboard/backend
dashboard/rsconnect
dashboard/shiny/data
dashboard/shiny/rsconnect
r-reticulate
automate
*pkl
*txt
*pt
*json
raw_comps.ipynb
outs/*
subject_clusters.csv
Untitled-1.py